<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Log</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>

    <h1>Customer Data Log</h1>
    <hr>
    <table class="table" border="2" style="background: #79cbff;">
        <thead>
            <tr>
                <th scope="col">
                    <h2>FullName</h2>
                </th>
                <th scope="col">
                    <h2>Email</h2>
                </th>
                <th scope="col">
                    <h2>Phone</h2>
                </th>
                <th>Edit-log</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(row=> { %>
                <tr>
                    <td>
                        <%= row.name %>
                    </td>
                    <td>
                        <%= row.email %>
                    </td>
                    <td>
                        <%= row.phone %>
                    </td>
                    <td>
                        <a href="/api/update/<%= row.id %>">Edit</a>
                    </td>

                </tr>

                <% }); %>
        </tbody>
    </table>
</body>

</html>