body {
    background-color: #000000;
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 24px;
    padding: 20px;
    color: #ffffff;
}

#video-chat-form {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: grey 10px 0px 20px;
}

input {
    padding: 15px;
    box-sizing: border-box;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin: 15px 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

button {
    background: #87CEEB;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -ms-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover {
    background-color: #00FF00;
}

#video-chat-rooms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 100%;
}

video {
    width: 100%;
    /* Set the width to cover the full page */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-group {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    box-shadow: grey;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.btn-group button {
    background: #87CEEB;
    color: #fff;
    font-size: 12px;
    padding: 15px;
    margin: 0 10px;
    width: 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-group button:hover {
    background-color: red;
}

@media only screen and (min-width: 600px) {
    #video-chat-form {
        max-width: 600px;
    }

    video {
        width: 45%;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }
}